@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --very-dark-blue-light-mode: hsl(207, 26%, 17%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}


body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--dark-blue);
    overflow-x: hidden;
}

.dark {
    background-color: var(--dark-blue);
    color: var(--white);

    .darkinput {

        background-color: var(--dark-blue);
    }



    .MuiButton-inherit,
    .MuiButton-root {
        background-color: var(--very-dark-blue-light-mode);
        color: var(--white);
    }

    .searcher {
        -webkit-text-fill-color: aliceblue;

    }


    ul {
        background-color: var(--very-dark-blue-light-mode);
        color: var(--white)
    }

    .MuiPaper-rounded {
        background-color: var(--very-dark-blue-light-mode);
        color: aliceblue;
        padding: 0px;
        padding-bottom: 1rem;
    }
}


.searcher {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 3rem 0;
    align-items: center;
}


.article-div {
    margin-top: 1rem;
    margin-bottom: 3rem;

    p {
        margin: 0;
    }
}

.row {
    width: 90%;
    margin: auto;
}


.MuiGrid-grid-xs-3>div {
    padding: 0px;
    padding-bottom: 1rem;
    cursor: pointer;
    margin: 0 2rem 3rem 1rem;
}

.article-div {
    padding-left: 1.5rem;
}

.image {
    border-radius: 5px 5px 0 0;
}

.detai {
    display: flex;
    justify-content: space-between;

}
